{% extends "base.jinja2" %}

{% block content %}
<h1>Добро пожаловать в приложение Опросник</h1>
{% if current_user %}
    <div class="mb-2">
        <a href="{{ url_for('frontend_create_poll') }}" class="btn btn-primary">Создать опрос</a>
    </div>
    <div class="mb-2">
        <a href="{{ url_for('frontend_read_polls') }}" class="btn btn-secondary">Просмотреть опросы</a>
    </div>
    <div class="mb-2">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
    </div>
{% else %}
    <div class="mb-2">
        <a href="{{ url_for('login') }}" class="btn btn-success">Войти через Google</a>
    </div>
{% endif %}
{% endblock %}